/************ Header *************/
header {
    display: flex;
}

/***** image logo (header) ****/
.img-thumbnail {
    width: 25%;
    height: 15em;
}

/***** Barre de recherche ****/
.container-fluid {
    background-color: #CBBDC8;
    border-radius: 5em;
}

.nav-link {
    text-align: center;
}


nav ul li {
    padding: 0 4em 0 4em;
    font-weight: bold;
}

/************ Section **********/
.h1 {
    margin-left: 25%;
}

.img-annonce {
    width: 60%;
    height: 28em;
}

/************ Aside **********s**/
aside {
    border: 4px solid black;
    border-radius: 2em;
    text-align: center;
    float: right;
}

label{
    color: black;
}

input {
    border-color: black;
}




/*********** Footer ************/
.footer {
    background-color: #CBBDC8;
    padding: 2em;
}

.footer p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}