/************ Header *************/
header {
    display: flex;
}

/***** image logo (header) ****/
.img-thumbnail {
    width: 25%;
    height: 15em;
}

/***** Barre de recherche ****/
.container-fluid {
    background-color: #CBBDC8;
    border-radius: 5em;
}

.nav-link {
    text-align: center;
}


nav ul li {
    padding: 0 4em 0 4em;
}

/************ Section **********/

/******* couleur des cartes image  *********/
section .card {
    background-color: #CBBDC8;
}




/*********** Footer ************/
.footer {
    background-color: #CBBDC8;
    padding: 2em;
}

.footer p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}