/************ Header *************/
header {
    display: flex;
}

/***** image logo (header) ****/
.img-thumbnail {
    width: 25%;
    height: 15em;
}

/***** Barre de recherche ****/
.container-fluid {
    background-color: #CBBDC8;
    border-radius: 5em;
}

.navbar {
    width: 100%;
}

.nav-link {
    text-align: center;
}


nav ul {
    padding: 5% 5em 5% 4em;
    font-weight: bold;
}

/****** Bouton modifier / supprimer / vendre / déconnexion *******/
.justify-content-start {
    float: left;
    margin-left: 5%;
}

.justify-content-start .p-2 {
    margin: 0 12px;
}

.justify-content-end {
    padding: 0 50px;
}

.justify-content-end .p-2 {
    margin: 0 15px;
    border-radius: 1em;
}

.justify-content-end a, .justify-content-start a {
    text-decoration: none;
    color: black;
}

.modifier {
    background-color: #3D39FD;
    border-radius: 15px;
}

.supprimer {
    background-color: #FD3939;
    border-radius: 15px;
}

.vendre {
    background-color: #FFDC27;
    border-radius: 15px;
}

.deconnexion {
    background-color: #09F166;
    border-radius: 15px;
}

/************ Section **********/
section h1 {
    margin-left: 25%;
}

.img-annonce {
    width: 60%;
    height: 28em;
    margin-left: 3%;
    border-radius: 20px;
}

/************ Aside contact ************/
aside {
    border: 2px solid black;
    border-radius: 2em;
    text-align: center;
    float: right;
    margin-right: 6%;
    padding: 0 15px 30px 15px;
}

aside label{
    color: black;
    font-size: 20px;
}

aside input {
    border-color: black;
    margin-left: 40px;
}

aside button {
    background-color: #09f1668c;
    padding: 8px 3em;
    border: 1px solid #09f1668c;
    border-radius: 2em;
}

/********** Description ***********/
.description {
    background-color: #CBBDC8;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    font-size: 23px;
    margin-left: 3%;
    padding: 0 15px 15px 15px;
}

/************* Choix **************/
.choix {
    float: right;
    background-color: #09f16689;
    padding: 0 5% 90px 5%;
    margin-right: 6%;
    border-radius: 2em;
    text-align: center;
}

.choix button {
    padding: 8px 3em;
    border-radius: 2em;
}


/*********** Footer ************/
.footer {
    background-color: #CBBDC8;
    padding: 2em;
}

.footer p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}


/*************** Responsive Mobile ****************/
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
    .navbar {
        margin-top: 76%;
        margin-left: -79%;
    }

    .container-fluid {
        padding: 0% 0% 3% 10%;
    }
    
    .d-flex {
        margin-left: -77%;
        margin-right: 39%;
        margin-top: 21%;
    }

    .img-thumbnail {
        width: 81%;
        margin-right: -6%;
        height: 20em;
        margin-left: 26%;
        padding: 0;
    }

    .justify-content-start {
        float: left;
        margin-left: 30%;
    }

    .justify-content-start a {
        margin-top: -85px;
        margin-left: 14%;
    }

    .justify-content-end {
        margin-left: 83%;
    }

    .justify-content-end a {
        margin-top: 30px;
        margin-right: 25%;
    }

    section h1 {
        text-align: center;
        margin-left: 32%;
    }

    .img-annonce {
        width: 126%;
        height: 3%;
    }

    aside {
        margin-top: 50px;
        width: 93%;
        margin-right: -15%;
    }

    .description {
        margin-top: 115%;
        margin-left: 6%;
        text-align: center;
        width: 61%;
        font-size: 1em;
        padding: 1% 10px 10px 10px;
    }

    .choix {
        margin-top: 14%;
        margin-right: -112px;
        text-align: center;
        padding: 4% 4%;
    }

    .footer {
        width: 119%;
    }
}