/************ Header *************/
header {
    display: flex;
}

/***** image logo (header) ****/
.img-thumbnail {
    width: 25%;
    height: 15em;
}

/***** Barre de recherche ****/
.container-fluid {
    background-color: #CBBDC8;
    border-radius: 5em;
}

.nav-link {
    text-align: center;
}


nav ul li {
    padding: 0 4em 0 4em;
    font-weight: bold;
}

/************ Section **********/
section h1 {
    margin-left: 25%;
}

.img-annonce {
    width: 70%;
    height: 28em;
    margin-left: 3%;
    border-radius: 20px;
}

/************ Aside contact ************/
aside {
    border: 2px solid black;
    border-radius: 2em;
    text-align: center;
    float: right;
    margin-right: 6%;
    padding: 0 15px 30px 15px;
}

aside label{
    color: black;
    font-size: 20px;
}

aside input {
    border-color: black;
    margin-left: 40px;
}

aside button {
    background-color: #09f1668c;
    padding: 8px 3em;
    border: 1px solid #09f1668c;
    border-radius: 2em;
}

form div {
    padding: 20px;
}

/********** Description ***********/
.description {
    background-color: #CBBDC8;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    font-size: 23px;
    margin-left: 3%;
    padding: 0 15px 15px 15px;
}

/************* Choix **************/
.choix {
    float: right;
    background-color: #09f16689;
    padding: 0 5% 90px 5%;
    margin-right: 1%;
    border-radius: 2em;
    text-align: center;
}

.choix button {
    padding: 8px 3em;
    border-radius: 2em;
    background-color: #69B092; 
    border: 1px solid #69B092;
}

.choix button span {
    font-size: 30px;
}


/*********** Footer ************/
.footer {
    background-color: #CBBDC8;
    padding: 2em;
}

.footer p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}