*{
    margin :0;
    padding :0;
}

:root{
    --primary:#CBBDC8;
}
/************ Header *************/
header {
    display: flex;
}

/***** image logo (header) ****/
.img-thumbnail {
    width: 12%;
    height: 7em;
}

/***** Barre de recherche ****/
.container-fluid {
    background-color: #CBBDC8;
    border-radius: 5em;
}

.nav-link {
    text-align: center;
}


nav ul li {
    padding: 0 4em 0 4em;
    font-weight: bold;
}

.selectRegister{
width: 294px;
}
.registerBackColor{
    display: flex;
    background-color: var(--primary);
    justify-content: center;
    width: 120%;
    padding: 2em;
    border-radius: 40px;

}
.col{
    text-align: center;
}

.pill {
    display: flex;
    height:0px;
    border-radius: 2px;
    color: #0d6efd;
    color:#0d6efd;
    border: 2px solid currentColor;
    width: 80%;
    margin-left: 12%;
  }

  /*********** Footer ************/
.footer {
    background-color: #CBBDC8;
    padding: 2em;
}

.footer p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}